 * {
    margin: 0;
    padding: 0;
    text-align: center;

 }

 h1 {
    background-color: rgb(1, 1, 27);
    color: #fff;
    height: 5rem;
    line-height: 5rem;

 }
 .choices {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
   margin-top: 140px;
 }

 .choice {
   height: 165px;
   width: 165px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
 }

 .choice:hover {
   background-color:  rgb(1, 1, 27);   
 }

 .choice img {
   height: 150px;
   width: 150px;
   object-fit: cover; 
   border-radius: 50%;
 }

 .score-board {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 50px;
   margin-top: 60px;
 }

.player {
   font-size: 25px

}

.score {
   font-size: 40px
}

.msg {
   background-color:  rgb(1, 1, 27);   
   color: #fff;
   display: inline-block;
   padding: 0.7rem;
   font-size: 20px;
   border-radius: 10px;
   margin-top: 80px;
}